In [10]:
print("Skynet has awaken")

Skynet has awaken

In [11]:
X=1
Y=2
Z=X+Y 
print(Z)

3


# TÍTULOS #
## Sub Títulos ##
### Otros Títulos ###

In [12]:
nombre = "Juan"
edad = 25
altura = 1.80
es_estudiante = True

In [13]:
print(nombre)
print(edad)
print(altura)
print(es_estudiante)

Juan
25
1.8
True

In [14]:
mi_numero = 10
print(f"Número original: {mi_numero}")

mi_numero = 60
print(f"Número nuevo: {mi_numero}")

Número original: 10
Número nuevo: 60

In [15]:
print(edad)

25

In [18]:
print(f"Edad del paciente:{edad}")

Edad del paciente:25

In [19]:

num_int1 = 123
num_int2 = -57

In [21]:
bool_var1 = True
bool_var2 = False

In [23]:
print(bool_var1)

True

In [24]:
bool_var2

False

In [26]:
X

1

In [28]:
print(bool_var1)
print(bool_var2)

True
False

In [29]:
list_numbers = [1, 2, 3, 4, 5]
list_strings = ["A", "B", "C", "D"]

In [30]:
print(list_numbers)
print(list_strings)

[1, 2, 3, 4, 5]
['A', 'B', 'C', 'D']

In [33]:
list_strings[3]

'D'

In [39]:
Val_Nom = 1000
Px_Mer = 85
Val_Mer = (Val_Nom * Px_Mer) / 100
print(f"Valor de Mercado del ETF: {Val_Mer}")

Valor de Mercado del ETF: 850.0

In [1]:
resultado = True and False  # resultado = False
resultado = True or False   # resultado = True
resultado = not True        # resultado = False

In [2]:
edad = 18
if edad < 18:
    print("Eres menor de edad.")
elif edad >= 18:
    print("Eres mayor de edad.")

Eres mayor de edad.

In [ ]:
for i in range(5):
    print(i)

# Muestra en consola: 0, 1, 2, 3, 4


frutas = ["manzana", "banana", "cereza"]
for fruta in frutas:
    print(fruta)

# Muestra en consola: manzana, banana, cereza

SyntaxError: invalid syntax (2799751130.py, line 1)

In [4]:
for i in range(5):
    print(i)

# Muestra en consola: 0, 1, 2, 3, 4


frutas = ["manzana", "banana", "cereza"]
for fruta in frutas:
    print(fruta)

# Muestra en consola: manzana, banana, cereza #

0
1
2
3
4
manzana
banana
cereza